extends layouts/application

block content
  .addbatiment
    .container
      .batiments-form
        - if (user == null)
          span.help-block Merci de vous authentifier
        - else
          -if (user.role != 'admin')
            span.help-block Vous n'avez pas les droits d'accés, merci de voir avec l'administrateur du site
          -else
            .bg
            h2 Ajout d'un batiment
            address
              strong Entrer les informations concernant ce batiment
              p Merci de tout compléter.
            form(action="/batiments/" method="post" accept-charset="UTF-8" novalidate="novalidate")
              - if (success)
                .alert.alert-success.message-sent
                  button(type="button" class="close" data-dismiss="alert" aria-label="Close")
                    span(aria-hidden="true") &times;
                    | #{success}
              - if (errors.error)
                .alert.alert-danger.message-error
                  button(type="button" class="close" data-dismiss="alert" aria-label="Close")
                    span(aria-hidden="true") &times;
                    | #{errors.error}
              .form-group(class=(errors.nombatiment ? "has-danger" : ""))
                .row.justify-content-start
                  .col-10
                    input.form-control(type="text" name="nombatiment" placeholder="Nom du Bâtiment" autofocus="1" value=params.nombatiment)
                    - if (errors.nombatiment)
                      span.text-danger #{errors.nombatiment}
                  .col-2
                    input.form-control(type="text" name="caractbatiment" placeholder="CHAR" autofocus="1" value=params.caractbatiment)
                    - if (errors.caractbatiment)
                      span.text-danger #{errors.caractbatiment}
              .form-group(class=(errors.nbaile ? "has-danger" : ""))
                select.form-control(name="nbaile" placeholder="Nombre d'Ailes" value=params.nbaile)
                  option() Nombre d'ailes
                  -for (var i=1; i< batiment.aileMax+1; ++i){
                    option(value=i) #{i}
                  -}
                - if (errors.nbaile)
                  span.text-danger #{errors.nbaile}
              .form-group(class=(errors.nbetageinf ? "has-danger" : ""))
                select.form-control(name="nbetageinf" placeholder="Nombre d'étages en Sous sol" value=params.nbetageinf)
                  option() Nombre d'étages en Sous sol
                  -for (var i=1; i< batiment.etageInfMax+1; ++i){
                    option(value=i) #{i}
                  -}
                - if (errors.nbetageinf)
                  span.text-danger #{errors.nbetageinf}
              .form-group(class=(errors.nbetagesup ? "has-danger" : ""))
                select.form-control(name="nbetagesup" placeholder="Nombre d'étages supérieur" value=params.nbetagesup)
                  option() Nombre d'étages supérieur
                  -for (var i=0; i< batiment.etageSupMax+1; ++i){
                    option(value=i) #{i}
                  -}
                  - if (errors.nbetagesup)
                    span.text-danger #{errors.nbetagesup}
              button.btn.btn-primary(type="submit")
                .fa.fa-spinner.fa-pulse
                | Ajouter
              .clearfix